extends includes/layout

block body-header
  include includes/header

block body-main

 .notFound 
    img(src="https://img.freepik.com/vector-gratis/ilustracion-concepto-uy-error-404-robot-roto_114360-1932.jpg?w=740&t=st=1664733457~exp=1664734057~hmac=c29ec63e686f6b9b8566da36ffcdac84f1f0523ebd72e2b273f1b7cfd216f2ba", alt="", srcset="")

block body-footer
  include includes/footer