extends includes/layout

block body-header
  include includes/header

block body-main
  .tag
    h2 Categories
    hr
    ul 
      li 
        a(href="/") technology
      li 
        a(href="/") International business
      li 
        a(href="/") UI / UX
      li 
        a(href="/") work
      li 
        a(href="/") business
      li 
        a(href="/") technology
      li 
        a(href="/") International business
      li 
        a(href="/") UI / UX
block body-footer
  include includes/footer