extends includes/layout

block body-header
  include includes/header

block body-main

  main
    .header-home
      .hero 
        .header-home__img
          img.header-home_img--margin(src="img/grupopersonas.webp", alt="", srcset="")
        .hero__text
          .hero__title Banaky Company & Stratus Media Solutions
          .hero__subtitle.fontfam1.font-4xs Quisque placerat metus non lorem bibendum
          a.button(href="") Contact Us!
        .cube
        .cube
        .cube
        .cube
        .cube
        .cube
    .container

      //- Servicios
      .services 
        .services__box
          a(href="/")
            .box__icon
              img(src="", alt="", srcset="")
            .box__title
              h3 Nam gravida enim in ultrices facilisis
            .box__text Nam porta erat non finibus accumsan. Nullam consectetur, mauris eget porttitor porttitor, ligula quam commodo nisl, sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
            .box__button
              a(href="http://") Seguir leyendo ...  



        


block body-footer
  include includes/footer