extends includes/layout

block body-header
  include includes/header

block body-main
  .font-l.border-color-black.border-l
    p.back-color-second.color-first Hola, mensaje de prueba
        
block body-footer
  include includes/footer