extends includes/layout

block body-header
  include includes/header

block body-main

  main
    .header-home
      .hero 
        .header-home__img
          img.header-home_img--margin(src="img/grupopersonas.webp" alt="" srcset="")
        .hero__text
          .hero__title Banaky Company & Stratus Media Solutions
          .hero__subtitle.fontfam1.font-4xs Quisque placerat metus non lorem bibendum
          a.button(href="") Contact Us!
        .cube
        //- .cube
        //- .cube
        //- .cube
        //- .cube
        //- .cube
    .container

      //- Cards servicios
      .services 
        .services__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (1).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3 Business Planner for Clients
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        .services__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (2).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3 Real-time notifications and alerts
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        .services__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (3).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3 Security Planner for Clients
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        .services__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (4).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3 Database Management for Customers
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        .services__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (5).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3 Best Digital Market Costs
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ... 

        .services__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (6).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3 database management for customers
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        //- Circulos de fondo
        .circles 
          .circle
          .circle
          .circle
          .circle
          .circle
          .circle
          .circle

      //- Banner texto
      .banner__text
        h2 Ut et tortor aliquam 
          span tinciduntenim nec egestas turpis.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate, nulla at tempor consectetur, nisi nisi vulputate metus, eget convallis purus nisl sit amet mi. Nam vitae arcu risus. Suspendisse luctus ligula ut sapien tristique, sed semper purus tempor. Donec sed velit velit. Donec quis sem id nibh suscipit venenatis. Sed commodo tincidunt mi, id aliquam arcu elementum at. Mauris dictum at nisi non feugiat. Cras vitae turpis pellentesque nisi blandit aliquam in a leo.
        p Praesent finibus viverra efficitur. Fusce convallis nisi sit amet lacus lobortis blandit. Quisque rhoncus enim et libero tincidunt imperdiet. Quisque pellentesque augue et justo bibendum hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum dapibus dui in elit bibendum, quis ullamcorper augue ultrices. Nullam molestie orci a libero varius porttitor. Praesent justo massa, consequat ut sodales in, rhoncus malesuada leo. Fusce mollis, purus at maximus placerat, risus magna interdum nisl, sit amet mollis nibh lectus ut massa. Nulla tempor lorem rutrum elit porta, id commodo felis tincidunt.
        ul 
          li 
            a(href="/")  Vestibulum cursus odio a scelerisque facilisis.
          li 
            a(href="/")  Proin vestibulum ante at sodales porttitor.
          li 
            a(href="/")  Aenean iaculis nisl ac dictum pulvinar.
          li 
            a(href="/")  Pellentesque venenatis nisi vitae lacinia congue.
        
        img(src="/img/grupopersonas2.webp" alt="" srcset="")

      .banner__text-image
        .text 
          h2 Phasellus volutpat ornare nunc et bibendum
          p Aliquam pharetra nisl quis suscipit elementum. In ut semper neque. Quisque libero risus, maximus in pharetra vel, pulvinar ut tortor. Vivamus a interdum arcu, ultricies sagittis ante. Nullam feugiat dolor nec erat venenatis, consectetur gravida ipsum venenatis.
          p Fusce posuere velit id est condimentum condimentum. Sed elit odio, sodales sit amet quam nec, varius pharetra dolor. Phasellus vitae arcu eget massa mattis suscipit nec at metus. Quisque eget eros diam. Fusce a ullamcorper dui. Aliquam erat volutpat. Etiam lectus est, tincidunt non tortor id, tempus mollis dui. Vivamus id ex nec nisi ullamcorper faucibus in non lectus.
        .image 
          img(src="https://img.freepik.com/foto-gratis/mujer-negocios-joven-comprobando-cuadro-lista-verificacion-satisfaccion-espacio-copia_1258-88647.jpg?w=826&t=st=1663724930~exp=1663725530~hmac=66c791e5fb5128b2de745be2de3ab3775fe2cecd117816bfcf0e5a13b7cb1282", alt="", srcset="")
          




block body-footer
  include includes/footer