extends includes/layout

block body-header
  include includes/header

block body-main
  .header2 
    //- Header con imagen de fondo
    .header2__container
      img(src="/img/grupopersonas.webp" alt="" srcset="")  
      h1 Service 
      //- menu para volver a home
      .back
        a(href="/")  Home 
        span.fa-solid.fa-angle-right
        p Service 

  .container
    .banner__text
        h2 Ut et tortor aliquam 
          span tinciduntenim nec egestas turpis.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate, nulla at tempor consectetur, nisi nisi vulputate metus, eget convallis purus nisl sit amet mi. Nam vitae arcu risus. Suspendisse luctus ligula ut sapien tristique, sed semper purus tempor. Donec sed velit velit. Donec quis sem id nibh suscipit venenatis. Sed commodo tincidunt mi, id aliquam arcu elementum at. Mauris dictum at nisi non feugiat. Cras vitae turpis pellentesque nisi blandit aliquam in a leo.
        p Praesent finibus viverra efficitur. Fusce convallis nisi sit amet lacus lobortis blandit. Quisque rhoncus enim et libero tincidunt imperdiet. Quisque pellentesque augue et justo bibendum hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum dapibus dui in elit bibendum, quis ullamcorper augue ultrices. Nullam molestie orci a libero varius porttitor. Praesent justo massa, consequat ut sodales in, rhoncus malesuada leo. Fusce mollis, purus at maximus placerat, risus magna interdum nisl, sit amet mollis nibh lectus ut massa. Nulla tempor lorem rutrum elit porta, id commodo felis tincidunt.
        ul 
          li 
            a(href="/")  Vestibulum cursus odio a scelerisque facilisis.
          li 
            a(href="/")  Proin vestibulum ante at sodales porttitor.
          li 
            a(href="/")  Aenean iaculis nisl ac dictum pulvinar.
          li 
            a(href="/")  Pellentesque venenatis nisi vitae lacinia congue.
    .banner__text-image3
      .text
        h2 Praesent ultricies quam vel tempus 
          span elementum 
        h4 
          span tellus nulla consectetur tellus
        p Fusce vel ipsum viverra, maximus erat ac, venenatis dui. Praesent elementum pellentesque vestibulum. Sed facilisis ex in purus pulvinar, dictum tincidunt orci cursus. 

        a.button(href="/") Contact Us!
      .image2
        img(src="https://img.freepik.com/foto-gratis/retrato-mujer-trabajadora-servicio-al-cliente_144627-37979.jpg?w=740&t=st=1664204061~exp=1664204661~hmac=9f9b7b54df38c16cf0aa120576edcbc6c01ede54390b73dd6f3d0d0fa077e015" alt="" srcset="")

    .quality2
        .quality__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (1).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3.font-l Business Planner for Clients
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        .quality__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (2).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3.font-l Real-time notifications and alerts
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        .quality__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (3).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3.font-l Security Planner for Clients
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        .quality__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (4).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3.font-l Database Management for Customers
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        .quality__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (5).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3.font-l Best Digital Market Costs
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ... 

        .quality__box
          .box__icon
            a(href="/")
              img(src="/img/ico/azul (6).svg" alt="" srcset="")
          .box__title
            a(href="/")
              h3.font-l database management for customers
          .box__text Nam porta erat non finibus accums dullam consectetur mauris eget porttitor porttitor ligula quam commodo nisl sit amet finibus lectus lectus sed nisi. Integer ut vestibulum tellus, a hendrerit lorem. Nunc auctor dolor mauris, nec viverra diam dapibus vel. Integer feugiat sit amet lectus quis viverra. Mauris tempor mattis metus a ultricies.
          .box__button
            a(href="http://") Seguir leyendo ...  

        //- Circulos de fondo
        .circles 
          .circle
          .circle
          .circle
          .circle
          .circle
          .circle
          .circle
  .container2
    .banner__text-image4
      .text
        h2 Praesent ultricies quam vel tempus 
          span elementum 
        h4 
          span tellus nulla consectetur tellus
        p Fusce vel ipsum viverra, maximus erat ac, venenatis dui. Praesent elementum pellentesque vestibulum. Sed facilisis ex in purus pulvinar, dictum tincidunt orci cursus. 

      .image2
        img(src="https://www.pngplay.com/wp-content/uploads/13/Web-Designing-PNG-Images-HD.png" alt="" srcset="")
    
    .banner__text-image5
      .text
        h2 Praesent ultricies quam vel tempus 
          span elementum 
        h4 
          span tellus nulla consectetur tellus
        p Fusce vel ipsum viverra, maximus erat ac, venenatis dui. Praesent elementum pellentesque vestibulum. Sed facilisis ex in purus pulvinar, dictum tincidunt orci cursus. 

      .image2
        img(src="https://www.pngplay.com/wp-content/uploads/13/Web-Designing-Transparent-Images.png" alt="" srcset="")


block body-footer
  include includes/footer