@import 'style.styl';
@import 'footer.styl';

.d-flex
  transition 1s
  display: flex
  align-items: center
  
header
    position absolute
    width: 100%
    z-index 10
    top 0
    left: 0

    .bg-color
        border 0px
        background-color: transparent
        .navbar
            position: fixed
            width 100%
            transition 0.4s
            padding: 5px 0px
            height: fit-content
            background: rgb(255, 255, 255)
            @media escritorio-s
                padding: 5px 0px
        .menu
            width: 100%
            display flex
            justify-content: right 
            align-items: center
            height: 40px
            z-index: 100
            position relative
            img
                margin-top: auto
                margin-bottom: auto
                height: 100%
                width: auto
            @media escritorio-s
                display none
            img
                margin-right: 20px
                margin-left: auto
                
        .navbar-fixed-top
            background: white
            position: fixed
            width: 100%
            transition: 1s
            -webkit-box-shadow: 0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
            @media escritorio-s
                padding: 15px 0px
        .navbar-brand
            position: absolute
            top 50%
            transform: translate(15%, -50%);
            height:40px
            width: 150px
            @media escritorio-s 
                height:65px
                width: 150px
                margin-top: auto
                margin-bottom: auto
            img
                height: 100%
                object-fit: cover
                margin auto
        .navbar-nav
            width 100%
            display: none
            position: absolute
            top: 0
            opacity: 0
            margin-top 49px
            z-index 1000
            transition 1s
            justify-content: center
            align-items: center
            @media escritorio-s
                display: flex
                opacity: 1
                position relative
                margin-top 0px
            @media escritorio-s
                display flex
            li
                border-bottom:  1px solid color-letter
                list-style: none
                background: white
                position: relative
                padding: 0px 20px;
                @media escritorio-s
                    background: transparent
                    border none
                a
                    background: white
                    font-size 13px
                    line-height 50px
                    font-weight 600
                    text-transform uppercase
                    text-decoration: none
                    color: rgb(0, 0, 0);
                    background-color: transparent;
                    transition: all 0.3s ease;
                    position: relative;
                    font-weight: 600;
                    display: block
                    width: 100%
                .angle
                   width: fit-content
                   margin-right: 10px
                   @media escritorio-s
                        margin-right: 0px
                .fa-solid
                   transition 0.5s
                   @media escritorio-s
                        width: 0px
                        display none
                .fa-solid:hover 
                    color: color-first
                    transform: scale(.8)
                    transform: rotate(90deg)

                a:hover
                    color: color-first

                .subMenu
                    display: block
                    z-index 2
                    min-width: 100%
                    @media escritorio-s
                       display: none 
                       left 50%
                        top 50%
                       position absolute

                    ul
                        position relative
                        width: 100%
                        display: flex
                        flex-direction: column
                        text-align: left
                        justify-content: left
                        li
                            background: white
                            display: block
                            margin: 0
                            width: 100%
                            padding 0px 5px
                            a   
                                width: 100%
                                margin: 0px 
                                white-space: nowrap;

            li:hover .subMenu
                display: block
                background: color-first
                li:hover
                    background: gray
                    a
                        color: white