footer
  .footer-container
    .company
      .logo
        img(src="../img/blancologo.svg" alt="" srcset="")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa deserunt officiis ipsam odio dignissimos, vitae quidem est nesciunt a voluptate obcaecati, quia veritatis cum ex quam minus consectetur.
      a.button(href="/") Contact Us!
    .social-networks 
      p Síguenos
      a(href="/")
        .fa-brands.fa-facebook-f.fa-2xl
      a(href="/")
        //- .fa-brands.fa-twitter.fa-2x.color-transparent
        .fa-brands.fa-instagram.fa-2xl
      a(href="/")
        .fa-brands.fa-twitter.fa-2x
      a(href="/")
        .fa-brands.fa-twitch.fa-2x
      a(href="/")
        .fa-brands.fa-youtube.fa-2x
      a(href="/")
        .fa-brands.fa-whatsapp.fa-2x
      a(href="/")
        .fa-brands.fa-snapchat.fa-2x
      a(href="/")
        .fa-brands.fa-pinterest.fa-2x
      a(href="/")
        .fa-brands.fa-tiktok.fa-2x
      a(href="/")
        .fa-brands.fa-linkedin.fa-2x
    .oficial-info
      p Contacto
      .location 
        .fa-solid.fa-location-dot
        .font-s Colombia - Cali 452 2 - 5d C20d
      .contact
        .fa-solid.fa-phone
        .font-s + 57 ( 320-102-40441) Lunes - Sábados
      .email
        .fa-solid.fa-envelope
        .font-s Ejemplo@ejemplo.com
    .gallery
    
    .legal 