footer
  .footer-container
    .company
      .logo
        img(src="../img/blancologo.svg" alt="" srcset="")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa deserunt officiis ipsam odio dignissimos, vitae quidem est nesciunt a voluptate obcaecati, quia veritatis cum ex quam minus consectetur.
      a.button(href="/") Contact Us!
    .social-networks 
      ul 
        li 
          a(href="/")
            .fa-brands.fa-square-facebook.fa-2xl.color-white
          a(href="/")
            .fa-brands.fa-instagram
          a(href="/")
            .fa-brands.fa-twitter.color-white.fa-2x
          a(href="/")
            .fa-brands.fa-twitch.color-white.fa-2x
          a(href="/")
            .fa-brands.fa-youtube.color-white.fa-2x
          a(href="/")
            .fa-brands.fa-whatsapp.color-white.fa-2x
          a(href="/")
            .fa-brands.fa-snapchat.color-white.fa-2x
          a(href="/")
            .fa-brands.fa-pinterest.color-white.fa-2x
          a(href="/")
            .fa-brands.fa-tiktok.color-white.fa-2x
          a(href="/")
            .fa-brands.fa-linkedin.color-white.fa-2x

    .oficial-info
    .gallery
    .legal 