header
    .bg-color.back-color-white
        nav.navbar
            .d-flex.color-letter
                a.navbar-brand(href='#') 
                    img(src="/img/negrologo.svg", alt="")
                ul.navbar-nav
                    li
                        a(href='/index') Home
                    li
                        .d-flex
                            a.angle(href='/service') Service
                            .icon
                                .fa-solid.fa-angle-right.fa-lg
                        .subMenu
                            ul
                                li
                                    a(href='/1') Contact Us1
                                li
                                    a(href='/2') Contactd sadffasdfa sadffasdfa sdfContactdsadffasdfasdf 
                                li
                                    a(href='/3') Contact Us3
                    li
                        a(href='/blog') Blog
                    li
                        a(href='/about') About
                    li
                        a(href='/contact') Contact Us
                        
                    
                    li
                        a(href='/about') About
                
                .menu
                    img.icon-menu(src="/img/menu.svg", alt="")
                    
                        
