header
    .bg-color.back-color-white
        nav.navbar
            .d-flex
                a.navbar-brand.color-letter(href='#') 
                    img(src="/img/preview.jpg", alt="")
                ul.navbar-nav
                    li
                        a.color-letter(href='/index') Home
                    li
                        a.color-letter(href='/service') Service
                        .subMenu
                            ul
                                li
                                    a.color-letter(href='/contact') Contact Us1
                                li
                                    a.color-letter(href='/contact') Contactd sadffasdfa sadffasdfa sdfContactdsadffasdfasdf 
                                li
                                    a.color-letter(href='/contact') Contact Us3
                    li
                        a.color-letter(href='/blog') Blog
                    li
                        a.color-letter(href='/about') About
                    li
                        a.color-letter(href='/contact') Contact Us
                        
                    
                    li
                        a.color-letter(href='/about') About
                
                .menu
                    //- img(src="/img/menu.svg", alt="")